{% extends "tracker/base.html" %}
{% load widget_tweaks %}
{% block title %}Profile{% endblock %}
{% block profile_active %}active{% endblock %}
{% block content %}
  <div class="container center">
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card black z-depth-5">
          <div class="card-content">
            <h1 class="center red-text">{{ user.username }}</h1>
            <p class="red-text">Email:</p>
            <p class="white-text">{{ user.email }}</p>
            <p class="red-text">Bio:</p>
            <p class="white-text">{{ user.profile.bio }}</p>
          </div>
          <div class="card-action center">
            <a class="waves-effect waves-light btn black red-text"><i class="material-icons left">view_headline</i> My Posts</a>
            <a class="waves-effect waves-light btn black red-text center"><i class="material-icons left">add</i> Saved Posts</a>
            <a class="waves-effect waves-light btn black red-text"><i class="material-icons left">thumb_up</i> Liked Posts</a>
          </div>
          <div class="card-action center">
            <a class="waves-effect waves-light btn black red-text" href="{% url 'profile-update' %}"><i class="material-icons left">edit</i>Update Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}